{% extends "layout.html" %}

{% block content %}

<p> Please input Appointment's Number that you want to look at </p>
<form action="finding_appointment" method="POST">
		<input type="text" name="text">
		<input type="submit" name="my-form" value="Search">
</form>

{% if not_found %}

	<p> {{not_found}} </p>

{% elif data %}
	<p> Appointment's number: {{data[0]}} </p>
	<p> Doctor's SSN: {{data[1]}} </p>
	<p> Patient's SSN: {{data[2]}} </p>
	<p> Symptoms: {{data[3]}} </p>
	<p> Date: {{data[4]}} </p>
	<p> Note: {{data[5]}} </p>
{% endif %}

{% endblock %}