{% extends "layout.html" %}

{% block content %}

	<p> Thanks for comming in our hospital </p>
	<p>SSN {{data_return[0]}}</p>
	<p>First name {{data_return[1]}} </p>
	<p>Last name {{data_return[2]}} </p>
	<p>Age {{data_return[3]}} </p>
	<p>Email {{data_return[4]}} </p>
	<p>Address {{data_return[5]}} </p>
	<p>City {{data_return[6]}} </p>
	<p>State {{data_return[7]}} </p>
	<p>Zipcode {{data_return[8]}} </p>
	<p>Phone number {{data_return[9]}} </p>
	<p>Birth date {{data_return[10]}} </p>
{% endblock %}